main > .container {
    padding: 60px 15px 0;
  }

  .cad input:invalid + span {
    display: inline;
  }

  .cad span {
    font-weight: 900;
    color: red;
    display: none /* Esconde o span */
  }